.container{font-family: "Poppins";display:flex;margin: 0!important;padding: 0!important;}
.container-heading{text-align: left;width:34%;height:27.5em;display: flex;flex-direction: column;margin-top: 12em;margin-left: 5em}
.container-heading h1{font-size: 4em;margin: 0.3em 0;}
 p{font-size: 1.2em;margin: 1em 0;color:grey;font-size:1.5em;width: 11em;}
.container-image{overflow: hidden;height: 40em;position: relative;background-attachment: fixed;height: 40em;width: 44em; left:3em; background-size: 125em 45em;}
.btn{width: 9em;background: black;height: 3em;color: white;border: 2px solid black;border-radius: 5px;font-size: 1.2em;}

.HomeCategory{top:5em;z-index: 10;background:black;color:white;display:flex;position:absolute;width: 74.94em;left: 0em;padding: 5em 2em}
.Item_2{width: 15em;}
.category{font-size: .8em;text-align: left;padding-left: 3em;}
.type {padding:.5em;z-index: 11;margin:0;left:-1px;top: 5em;color: white;position: absolute;font-size: 1em;text-align: left;padding-left: 4em;;}
.model{font-size: .8em;text-align: left;padding-left: 3em;}
.model div{padding: 0.2em;}
.line_1{z-index: 12;width: 52.5em;position: absolute;top: 1.5em;left: 0em;border-bottom: 1px solid rgba(255, 255, 255, 0.176);}
.line_2{z-index: 12;width: 47em;position: absolute;top: 4.5em;left: 2em;border-bottom: 1px solid rgba(255, 255, 255, 0.176);}
