.project-heading{text-align: center;padding:4rem 0 2rem 0}
.project-container{display: flex;flex-wrap: wrap; margin:auto;padding-bottom: 5rem;}
img{background-size: cover;background-position: center top;width:100%;}
.project-title{color: white;margin: 1rem;}
.pro-details p{color:white;margin: 1rem;font-size:1rem;}
.project-card{background:#1a1919;padding:1.2rem 1rem}
.project-card img{width:100%}
.btn{text-align: center;display: inline-block;margin:1em;width: 10em;}
.pro-btns .btn{width:50em}

@media screen and (max-width:740px){
    .card-container{max-width:90%;margin:auto;}

}